*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body,html {
    width: 100%;
    font-family: "Fortescue Pro";
    font-family: "Genath";

    /* BVB added background here.
    See https://www.w3schools.com/css/css_background.asp for additional options */
    /* background-image: url(images/background.svg);
    background-repeat: space; */
    /* background-size: 1400px 740px; */ */
/*
    @font-face {
      font-family: "VTF";
      font-weight: italic;
      src: url("fonts/VTF victorianna thin talic.otf") format("opentype");
      } */
}
.italic {
  font-family: "Genath-BoldItalic";
  font-size: 50pt;
  line-height: 45pt;
}

.navigation {
  display: block;
  align-items: center;
  font-family: "Genath-Bold";
  position: fixed;
  padding-left: 11vw;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: -0.8%;
  height: 30px;
  /* z-index: 2000; */
  /* margin-top: 10px; */
  margin-bottom: 30px;
  font-weight: bold;
  word-spacing: 3rem;
    /* BVB added z-index 50 so navigation is above logo */
    z-index: 50;
  /* border: 1px solid red; */
}

.navigation ul {
  margin: 0px;
  padding-top: 0.8em;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navigation li {
  /* padding-top: 15px; */
  display: inline;
  background: url("images/arrow2.png") 0 50% no-repeat;
  list-style-type: none;
  padding-left: 1.4em;
  /* margin-top: 10px; */
}

.navigation a {
  padding: 0.6em;
  padding-top: 30px;
  text-decoration: none;
  color: #000;
  float: none;
  top: 50%;
  left: 50%;
}


.navigation a:hover {
  padding-top: 15px;
  text-decoration: underline;
  color: #2d24e7;
}

/* BVB removed this, background is now in the body style*/
.background{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -20;

}


.shrimp:hover img {
    visibility: hidden;
}

.shrimp:hover{
  background-color: #2d24e7;
}


.home{
  /* margin: 80px; */
  margin-top: 40px;
  /* padding-left: 10%; */
  width: 100%;
  z-index: -1;
}

.logo {
  position: fixed;
  display: none;
  /* display: inline-block; */
  width: 29vw;
  margin-top: 50px;
  margin-left: 70vw ;
    /* BVB moved z-index to 40 so navigation z-index is on top */
  z-index: 10;
  /* vertical-align: top; */
  /* float: center; */
  /* margin-top: 100px; */
}


#body {
  /* margin-top: 0px; */
    z-index: 0;
  /* display: block; */
  float: center;
}


.collapsible{
  background: transparent;
  cursor: pointer;
  text-align: left;
  margin-left: 600px;
  /* line-height: 70pt; */
  float: center;
  /* font-family: "VTF"; */
  margin-bottom: 0pt;
  line-height: 44pt;
  font-size: 1em;
  font-family: "Fortescue Pro";
  border: none;
  outline:none;
}

.collapsible:hover {
  color: #2d24e7;
}

.numbers{
  /* margin-left: 10px; */
  /* margin-bottom: 20pt; */
  font-size: 30pt;
  /* transform: rotate(90deg); */
}

.content {
  height: 500px;
  width: 870px;
  margin-left: 500px;
  overflow-y: scroll;
  border: solid 1px rgb(0,0,0)
}

.article {
  display: inline;
  width: 870px;
  font-size: 20pt;
  z-index: 30;

}

.article h1 {
  width: 830px;
  display: inline-block;
  float: center;
  margin-bottom: 20pt;
  line-height: 44pt;
  z-index: 30;
}

.article p {
    /* margin-left: 100px; */
  width: 800px;
  margin-top: 10pt;
  /* padding-left: 100px; */
  line-height: 24pt;
  padding-left: 20px;
  z-index: 30;
}

.article a {
  /* padding: 12px 20px;
  padding-top: 30px;
  text-decoration: none; */
  color: #000;
}

.photo {
  /* display: absolute; */
  /* margin-left: 300px; */
  z-index: 0;

}

.photo img{
  position: absolute;
  /* display: block; */
  margin-left: 0px;
  /* margin-top: -20px; */
  z-index: -3;
  width: 600px ;

}

span {
  position: relative;
}

span img {
  height: 2.5em;
  position: absolute;
  display: inline;
  margin: auto auto;
  /*float: left;*/
  left: 0;
}


span img:hover {
  transform: scale(5);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d24e7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
